body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login-sinoe {
    flex: 1;
}
.footer-login-sinoe {
    margin-top: 110px;
    background-color: #006B2D;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
.formulario-login-sinoe-mde input, 
.formulario-login-sinoe-mde button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
.formulario-login-sinoe-mde button {
    background-color: #006B2D;
    color: white;
    border: none;
    cursor: pointer;
}
.formulario-login-sinoe-mde button:hover {
    background-color: #004f21;
}

#search-container-areas {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}